{
  "gather": {
  	"url": "https://rdmalaria-kernel.gather2.org/",
    "token": ""
  },
  "elasticsearch": {
  	"url": "https://rdmalaria-dashboard.gather2.org/elasticsearch/",
  	"username": "",
  	"password": "",
  	"index": "",
  	"pipeline": ""
  }
}